/********************
	GENERAL
********************/

#wrapper {
	max-width: 100%;
	margin: 0 0 0 0;
	background: #6ab47b;
	position: center;
}

a {
	text-decoration: none;
	color: #6ab47b;
}

/********************
	HEADING
********************/

h1, h2 {
	text-align: center;
	margin: 0 0 0 0;
	color: #ffffff;
}

h1 {
	font-family: 'Merienda', cursive;
	padding: 15px 0px;
	font-size: 1.75em;
}

h2 {
	font-family: 'Merienda', cursive;
	margin: 10px 0 0 0;
}

/********************
	COLOURS
********************/


body {
	background-color: #FFF;
	color: #999;
	font-family: 'Open-Sans', sans-serif;
}

#header {
	border-color: #599A68;
}

nav {
background: #599A68;
}

nav a, nav a:visited {
	color: #fff;
}

nav a.selected, nav a:hover {
	color: #32673f;
}

footer {
	font-family: 'Merienda', cursive;

}


