/********************
	GENERAL
********************/

#wrapper {
	max-width: 100%;
	margin: 0 0 0 0;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #ffffff;
}

#images {
	font-family: 'Open Sans', sans-serif;
}

#navbar {
	background-color: #0FB493;
}

/********************
	HEADING
********************/

h1, h2 {
	text-align: center;
	margin: 0 0 0 0;
	color: #ffffff;
}

h1 {
	font-family: 'Merienda', cursive;
	padding: 15px 0px;
	font-size: 1.75em;
}

h2 {
	font-family: 'Merienda', cursive;
	margin: 0 0 0 0;
	font-size: 1.25em;
}

/********************
	COLOURS
********************/

body {
	background-color: #C9E1C1;
	color: #999;
	font-family: 'Open-Sans', sans-serif;
}

#wrapper {
	background-image: radial-gradient(
		circle at bottom,
    #0F9FB4,
    #152737
  );
}

nav {
background: #599A68;
}

nav a, nav a:visited {
	color: #fff;
}

nav a.selected, nav a:hover {
	color: #32673f;
}

footer {
	font-family: 'Merienda', cursive;

}

/********************
	COLOUR SCHEME
********************/
#1D2F3E
#152737
#0F9FB4
#0FB493
#C9E1C1

