/********************
	GENERAL
********************/

#wrapper {
	max-width: 100%;
	margin: 0 0 0 0;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #ffffff;
}

#navbar {
	background-color: #0FB493;
}

body {
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

/********************
	HEADING
********************/

h1, h2 {
	text-align: center;
	margin: 0 0 0 0;
	color: #ffffff;
}

h1 {
	font-family: 'Merienda', cursive;
	padding: 25px 0px;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-family: 'Merienda', cursive;
	margin: -5px 0 0;
	font-size: 0.9em;
	font-weight: normal;
}

/********************
	GENERAL
********************/

#wrapper {
	max-width: 100%;
	margin: 0 0 0 0;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #ffffff;
}

#navbar {
	background-color: #0FB493;
}

body {
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

/********************
	PAGE PORTFOLIO
********************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: right;
	width: 45%;
	margin: 2.5%;
	background-color: #F5F5F5;
	color: #BDC3C7;
}

/********************
	COLOURS
********************/

body {
	background-color: #C9E1C1;
	color: #999;
}

#wrapper {
	background-image: radial-gradient(
		circle at bottom,
    #0F9FB4,
    #152737
  );
}

nav {
background: #599A68;
}

nav a, nav a:visited {
	color: #fff;
}

nav a.selected, nav a:hover {
	color: #32673f;
}

footer {
	clear: both;
	font-family: 'Merienda', cursive;

}

/********************
	COLOUR SCHEME
********************/
#1D2F3E
#152737
#0F9FB4
#0FB493
#C9E1C1

/********************
	NAVIGATION
********************/

nav {
	text-align: center;
	padding: 10px;
	margin: ;
}

nav ul {
	display: inline-block;
}

nav ul li {
	float: left;
	margin-left: 2em;
}


/********************
	Footer
********************/

footer {
	font-size: 0.75em;
	text-align: center;
	padding: 0 0 0 0;
	color: #ccc;
}

footer img {
	padding: none;
}







